@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  text-align: center;
  margin: 0 auto; 
  font-family: 'Satisfy', cursive;
}

.app-heading {
  font-size: 2rem;
}

